form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 0.25rem;
  > input {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 100rem;
    box-shadow: inset var(--main-box-shadow);
    font-size: var(--fs-m);
  }
  > input[type='number'] {
    width: 7rem;
  }
}

fieldset {
  display: flex;

  border: none;
  > legend {
    padding: 0 0 0.25rem 0;
  }
  > label {
    flex: 1 0 25%;
    padding: 0.5rem;
    display: flex;

    align-items: center;
    background-color: var(--main-light-color);

    border: 0.4rem solid var(--kimara-pihlaja);
    border-left: none;
    border-right: none;
    &:first-of-type {
      border-radius: 1.5rem 0 0 1.5rem;
      border-left: 0.4rem solid var(--kimara-pihlaja);
    }
    &:last-of-type {
      border-radius: 0 1.5rem 1.5rem 0;
      border-right: 0.4rem solid var(--kimara-pihlaja);
    }
    > input[type='radio'] {
      display: none;
    }
    &:has(input:checked) {
      background-color: var(--kimara-pihlaja);
      color: var(--main-light-color);
      font-weight: var(--fw-h3);
    }
  }
}

button.selected {
  background-color: var(--kimara-karviainen);
  border-color: var(--kimara-karviainen);
}

button.unselected {
  background-color: var(--kimara-lakka);
  border-color: var(--kimara-lakka);
}
