label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 0.25rem;
}

input {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 100rem;
  box-shadow: inset var(--main-box-shadow);
  font-size: var(--fs-m);
}
input[type='number'] {
  width: 7rem;
}

input {
  border: 0.4rem solid var(--kimara-vuokko);

  &:focus {
    outline: none !important;
    border: 0.4rem solid var(--kimara-lakka);
  }
}

form {
  > fieldset {
    border: none;
    > legend {
      font-size: var(--fs-h3);
      font-weight: var(--fw-h3);
    }
  }
}

.input-fields {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;

  > input[maxlength='8'] {
    width: calc(8ch + 3rem);
  }
  > input[maxlength='4'] {
    width: calc(4ch + 3rem);
  }
  > input[maxlength='12'] {
    width: calc(12ch + 3rem);
  }
  > span {
    font-size: var(--fs-p);
    font-weight: var(--fw-h3);
  }
}

fieldset:has(label > input[type='radio']) {
  max-width: 25rem;
  display: flex;

  > legend {
    padding: 0 0 0.25rem 0;
  }
  > label {
    box-shadow: var(--main-box-shadow);
    flex: 1 0 25%;
    padding: 0.5rem;
    display: flex;

    align-items: center;
    background-color: var(--main-light-color);

    border: 0.4rem solid var(--main-light-color);
    border-left: none;
    border-right: none;
    &:first-of-type {
      border-radius: 1.5rem 0 0 1.5rem;
      border-left: 0.4rem solid var(--main-light-color);
    }
    &:last-of-type {
      border-radius: 0 1.5rem 1.5rem 0;
      border-right: 0.4rem solid var(--main-light-color);
    }
    > input[type='radio'] {
      display: none;
    }
    &:has(input:checked) {
      background-color: var(--kimara-lakka);
      color: var(--main-light-color);
      font-weight: var(--fw-h3);
    }
  }
}

fieldset {
  padding: 0;
}
