:root {
  --main-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --main-highlight-color: green;
  --main-light-color: #f7f8f9;

  --main-box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);

  --kimara-karviainen: #7fdb82;
  --kimara-lakka: #ffb16f;
  --kimara-pihlaja: #ee5b61;
  --kimara-mustikka: #d289e5;
  --kimara-orvokki: #100122;
  --kimara-vuokko: #f8f4e8;

  --fs-p: 1rem;
  --fs-h3: 1.17rem;
  --fs-h2: 1.5rem;
  --fs-h1: 2rem;

  --fw-p: 300;
  --fw-h3: 700;
  --fw-h2: 800;
  --fw-h1: 900;

  --app-bar-height: 4rem;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-weight: var(--fw-p);
  background-color: var(--kimara-vuokko);
  color: var(--kimara-orvokki);
}
* {
  box-sizing: border-box;
}

#root {
  height: 100dvh;
  width: 100dvw;
  background-color: var(--kimara-vuokko);

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

header.main-header,
footer.main-footer {
  height: var(--app-bar-height);
}

header.main-header {
  text-align: center;
  background-color: var(--kimara-karviainen);
  > h1 {
    margin: 0;
    line-height: var(--app-bar-height);
  }
}

footer.main-footer {
  background-color: var(--kimara-karviainen);

  > nav {
    width: 100%;
    height: var(--app-bar-height);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    > a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      height: var(--app-bar-height);
      color: var(--kimara-orvokki);
      text-decoration: none;
      font-weight: var(--fw-h3);
      > p {
        font-weight: var(--fw-h3);
        font-stretch: ultra-expanded;
        font-size: var(--fs-h3);
      }
      &.active {
        text-decoration: underline;
      }
    }
  }
}

main.main-content {
  background-color: var(--kimara-vuokko);

  height: calc(100dvh - 4rem);
  overflow: scroll;
  padding: 0 1rem 1rem;
}

h1 {
  font-weight: var(--fw-h1);
  font-stretch: ultra-expanded;
  font-size: var(--fs-h1);
}

h2 {
  font-weight: var(--fw-h2);
  font-stretch: ultra-expanded;
  font-size: var(--fs-h2);
}

h3,
legend,
nav a p {
  font-weight: var(--fw-h3);
  font-stretch: ultra-expanded;
  font-size: var(--fs-h3);
}

p,
a {
  font-weight: var(--fw-p);
  font-size: var(--fs-p);
}

button {
  background-color: var(--kimara-pihlaja);
  border-radius: 100rem;
  border: 0.5rem solid var(--kimara-pihlaja);
  font-size: 1rem;
  color: var(--kimara-vuokko);
  font-weight: var(--fw-h3);
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 25rem;
}
