section.rank-list {
  padding: 0.5rem 0;
  max-height: inherit;
  overflow: scroll;
  display: flex;
  flex-flow: column nowrap;
  > .rank-item:nth-child(-n + 3) .player {
    transform: translate(-5px, 0px) scale(1.05);
  }

  > section.rank-item {
    padding-left: 0;
    padding-top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    gap: 0.5rem;
    > p.rank-number {
      flex: 0 0 2rem;
      font-size: var(--fs-h3);
      font-weight: var(--fw-h3);
    }
    > details.player {
      flex: 1 0 auto;

      > summary.Samoaja {
        border-color: var(--kimara-karviainen);
      }
      > summary.Vaeltaja {
        border-color: var(--kimara-lakka);
      }
      > summary.Aikuinen {
        border-color: var(--kimara-pihlaja);
      }
    }
  }
}
